﻿<nav class="navbar navbar-default navbar-fixed-top affix-top" id="mainNav">
	<div class="container-fluid">
		<div class="navbar-header">
			<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
				<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
			</button>
			@*<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>*@
			@Html.ActionLink("MaverickMD", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
		</div>
		@*<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" aria-expanded="true">
			<ul class="nav navbar-nav navbar-right">
				<li>@Html.ActionLink("Services", "Services", "Home")</li>
				<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
			</ul>
		</div>*@


		@*<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>@Html.ActionLink("Services", "About", "Home")</li>
				<li>@Html.ActionLink("About", "About", "Home")</li>
				<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
			</ul>
			@Html.Partial("_LoginPartial")
		</div>*@
	</div>
</nav>
