﻿@model IEnumerable<MaverickMD.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (!Model.Any())
{
	<p>We dont have any customers yet.</p>
}
else
{
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Customer</th>
				<th>Discount</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var customer in Model)
			{
				<tr>
					<td>@Html.ActionLink(customer.Name, "Details", "Customer", new {id = customer.Id}, null) </td>
					<td>@customer.MembershipType.DiscountRate%</td>
				</tr>
			}
		</tbody>
	</table>
}

