﻿
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="non-home-header non-home-header-about">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">About</h1>
            <hr>
            <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="no-gutter">
        <div class="row no-gutter popup-gallery">
            <div class="col-xs-12 col-sm-6 about-img-padding about-light-bgd">
                <a class="portfolio-box">
                    <img class="img-responsive" alt="" src="~/Assets/Services/1.jpg">
                    <div class="portfolio-box-caption about-light-bgd">
                        <div class="portfolio-box-caption-content">
                            <h1>Mobile Apps</h1>
                            <hr>
                            <p>Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 about-img-padding about-light-bgd">
                <a class="portfolio-box">
                    <img class="img-responsive about-img-padding" alt="" src="~/Assets/Services/1.jpg">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 about-img-padding about-dark-bgd">
                <a class="portfolio-box">
                    <img class="img-responsive" alt="" src="~/Assets/Services/1.jpg">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 about-img-padding about-dark-bgd">
                <a class="portfolio-box">
                    <img class="img-responsive" alt="" src="~/Assets/Services/1.jpg">
                    <div class="portfolio-box-caption about-dark-bgd">
                        <div class="portfolio-box-caption-content">
                            <h1>Mobile Apps</h1>
                            <hr>
                            <p>Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 about-img-padding about-light-bgd">
                <a class="portfolio-box">
                    <img class="img-responsive" alt="" src="~/Assets/Services/1.jpg">
                    <div class="portfolio-box-caption about-light-bgd">
                        <div class="portfolio-box-caption-content">
                            <h1>Mobile Apps</h1>
                            <hr>
                            <p>Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 about-img-padding about-light-bgd">
                <a class="portfolio-box">
                    <img class="img-responsive about-img-padding" alt="" src="~/Assets/Services/1.jpg">
                </a>
            </div>
        </div>
    </div>
</div>

