﻿@model MaverickMD.ViewModels.SendEmailContactViewModel

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="non-home-header non-home-header-contact">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Contact</h1>
            <hr>
            <p>Ready to start your next project with us? Send us an email with your project details and let's get started!</p>
        </div>
    </div>
</div>


@using (Html.BeginForm("SendEmail", "Home", FormMethod.Post, new { }))
{
    <div class="contact-form-background">
        <div class="contact-form">
            <div class="contact-form-inner">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Name" })
                </div>

                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                </div>

                <div class="form-group">
                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control", @placeholder = "Project Details", @rows = "5" })
                </div>

                <button type="submit" class="btn btn-primary btn-xl margin-left:auto margin-right:auto">Submit</button>
            </div>
        </div>
    </div>
}

@*<div class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Free Download at Start Bootstrap!</h2>
            <a class="btn btn-default btn-xl sr-button" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s; " href="http://startbootstrap.com/template-overviews/creative/" data-sr-id="7">Download Now!</a>
        </div>
    </div>
</div>*@

@*<address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@
