﻿@{
    ViewBag.Title = "Home Page";
}

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Maverick Media Designs</h1>
            <hr>
            @*<p>MaverickMD is here to design and build the software that inspires you to be more productive and profitable using the newest and greatest technologies.</p>*@
            <p>@*Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!*@</p>
            
            @*<a class="btn btn-primary btn-xl page-scroll" href="#about">Find Out More</a>*@
        </div>
    </div>
</header>

@*<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Create Something Incredible!</h2>
                <hr class="light">
                <p class="text-faded">
                   Whether it's a personal project, a lofty idea, or a much needed upgrade, MaverickMD has the experience to make it a reality. 
                </p>
                <a class="page-scroll btn btn-default btn-xl sr-button" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s; " href="Home/Contact" data-sr-id="6">Contact me</a>
            </div>
        </div>
    </div>
</section>*@

@*<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="http://themes.startbootstrap.com/spectrum-v1.2.0/assets/img/demo-services/art.png" />
                    <h3>Cross Platform</h3>
                    <p class="text-muted">Create engaging games and productive apps that target iOS, Android, or Windows 10 platforms.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="http://themes.startbootstrap.com/spectrum-v1.2.0/assets/img/demo-services/art.png" />
                    <h3>Cloud Connected</h3>
                    <p class="text-muted">Increase productivity by accessing your data anywhere and anytime via cloud-hosted services.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="http://themes.startbootstrap.com/spectrum-v1.2.0/assets/img/demo-services/art.png" />
                    <h3>Creative Design</h3>
                    <p class="text-muted">No challenge is too complicated to solve; it only requires the right creative solution.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="http://themes.startbootstrap.com/spectrum-v1.2.0/assets/img/demo-services/art.png" />
                    <h3>Cutting Edge</h3>
                    <p class="text-muted">We utilize the very best tools and services to create the amazing products you need.</p>
                </div>
            </div>
        </div>
    </div>
</section>*@

@*<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
                    <img class="img-responsive" alt="" src="img/portfolio/thumbnails/1.jpg">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
                    <img class="img-responsive" alt="" src="img/portfolio/thumbnails/2.jpg">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
                    <img class="img-responsive" alt="" src="img/portfolio/thumbnails/3.jpg">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
                    <img class="img-responsive" alt="" src="img/portfolio/thumbnails/4.jpg">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
                    <img class="img-responsive" alt="" src="img/portfolio/thumbnails/5.jpg">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
                    <img class="img-responsive" alt="" src="img/portfolio/thumbnails/6.jpg">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>*@

@*<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2></h2>
            <a class="btn btn-default btn-xl sr-button" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s; " href="http://startbootstrap.com/template-overviews/creative/" data-sr-id="7">Contact Me!</a>
        </div>
    </div>
</aside>*@

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@
@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@