﻿
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="non-home-header non-home-header-services">
	<div class="header-content">
		<div class="header-content-inner">
			<h1 id="homeHeading">Services</h1>
			<hr>
			<p>At MaverickMD, every challenge has a solution and every idea can become a reality. 
            We have experience in game, app, and simulation development as well as video and audio 
            editing. No matter what your ideas are, we can help you take your next steps towards 
            making them a reality.</p>
		</div>
	</div>
</div>

<div class="container-fluid">
    <div class="no-gutter">

        <div class="row no-gutter popup-gallery">
            <div class="col-xs-12 col-sm-6">
                <a class="portfolio-box">
                    <img class="img-responsive" alt="" src="~/Assets/Services/MobileApps.jpg">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <h1>Mobile Apps</h1>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6">
                <a class="portfolio-box">
                    <img class="img-responsive" alt="" src="~/Assets/Services/Catalyst2012.jpg">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <h1>Games</h1>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6">
                <a class="portfolio-box">
                    <img class="img-responsive" alt="" src="~/Assets/Services/HololensDev2.jpg">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <h1>Hololens / AR For Business</h1>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6">
                <a class="portfolio-box">
                    <img class="img-responsive" alt="" src="~/Assets/Services/VideoEditing.jpg">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <h1>Audio / Video Editing</h1>
                        </div>
                    </div>
                </a>
            </div>
            @*<div class="col-xs-12 col-sm-6">
                <a class="portfolio-box">
                    <img class="img-responsive" alt="" src="~/Assets/Services/1.jpg">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <h1>Simulation Software</h1>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6">
                <a class="portfolio-box">
                    <img class="img-responsive" alt="" src="~/Assets/Services/1.jpg">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <h1>Live Event Production</h1>
                        </div>
                    </div>
                </a>
            </div>*@
        </div>
    </div>
</div>