﻿@using MaverickMD.Models
@model MaverickMD.ViewModels.RandomMovieViewModel
@{
	ViewBag.Title = "Random";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
	var className = Model.Customers.Count > 0 ? "popular" : null;
}

<h2 class="@className">@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
	<p>No one has rented this movie.</p>
}
else
{
	<ul>
		@foreach (Customer customer in Model.Customers)
		{
			<li>@customer.Name</li>
		}
	</ul>
}

